:root {
	--dark-primary: #8e5656;
	--primary: #9f6565;
	--light-primary: #e5dad1;
	--brown: #463333;
    --grey: #d6d6d6;
	--background: #e6dede; 
	--white: #f9e8d6;

	/* Кнопка удаления другая, чтобы не перепутать */
	--delete-primary: #db132d;
	--delete-light-primary: #ffeaea;

	--border-radius-main: 0.5rem;
	--card-gutter: 0.5rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--brown);
}

html{
	scroll-behavior: smooth;
}

body {
	position: relative;
	min-height: calc(100vh - 80px);
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "Open Sans", serif;
	background-color: var(--background);
	background: url("../src/images/pattern.jpg");
	background-size: 100%;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.2);
		z-index: 1;
	}
}


p{
	display: inline-block;
	margin: 0 1rem 0 0;
}

h1 {
    font-size: clamp(22px, 2.3vw, 26px);
    white-space: nowrap;
    color: var(--primary);
	font-family: "Lora", serif;
}

h2 {
    font-size: clamp(18px, 2vw, 22px);
    white-space: nowrap;
    color: var(--brown);
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 0.5rem;
    border-bottom: 1px solid var(--primary);
    padding-bottom: 1rem;
	font-family: "Lora", serif;
	font-weight: 600;
	
}

h3 {
    font-size: clamp(16px, 1.8vw, 20px);
    margin-top: 1rem;
    color: var(--brown);
    margin-bottom: 0.5rem;
    opacity: 0.9;
	font-weight: 500;
	font-family: "Lora", serif;
}

header{
	height: 70px;
	width: 100%;
	padding: 0.5rem 30px;
	display: flex;
	align-items: center;
    justify-content: center;
	top: 0;
	left: 0;
	position: fixed;
	background-color: var(--white);
	z-index: 100;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.header-block-right-part {
    height: 100%;
    display: inline-flex;
    align-items: center;
}

.header-block-left-part{
	display: flex;
	align-items: center;

	& h1:not(:first-child){
		margin-left: 1rem;
	}

	& img {
		height: 50px;
		width: 50px;
		margin-left: 1rem;
		border-radius: var(--border-radius-main);
	}
}

.header-block-right-part-avatar{
	height: 40px;
	width: 40px;
	object-fit: cover;
	border-radius: 50%;
}

.header-block-right-part-name{
	margin-left: 1rem;
	color: var(--primary);
}

.main-container {
    margin-top: 70px;
}

.main-block {
    padding: 30px;
	padding-top: 0;
	position: relative;
	z-index: 2;
}

.nav-block {
    padding: 1rem 30px 2rem 30px;
    width: 100%;
    position: sticky;
    top: 70px;
    z-index: 10;
    display: flex;
    align-items: flex-start;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0, 0));;
		z-index: 1;
	}
}

.nav-block-menu {
    display: flex;
    justify-content: center;
    margin-bottom: var(--card-gutter);
	z-index: 2;
}

.nav-block .form-block {
    box-shadow: none;
    margin-bottom: var(--card-gutter);
    width: 40vw;
    text-align: center;
	z-index: 2;
}

.book-block .form-block{
	border: none;
	padding: 1rem;
}

.nav-block input{
	width: 100%;
}

.nav-block-books-list {
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    margin-left: 1rem;
	z-index: 2;

	&::-webkit-scrollbar {
		height: 0.5rem;
	}

	&::-webkit-scrollbar-track {
		background-color: transparent;
		border-radius: var(--border-radius-main);
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--light-primary);
		border-radius: var(--border-radius-main);
	}
}

.book-block {
    display: inline-flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 0.5rem;
    border-radius: var(--border-radius-main);
    min-width: fit-content;
    background: var(--white);
    margin-right: var(--card-gutter);
}

.book-block img{
	width: 100%;
	height: 100%;
	opacity: 0.6;
}

.book-block-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-block-image {
    position: relative;
    display: inline-block;
    height: 40px;
    width: 40px;
}

.book-block-quantity {
    color: var(--primary);
    margin: 0 0.5rem;
}

.inner-card-block-name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-block-cards-list {
	columns: 4;
	column-gap: var(--card-gutter); 
}

@media (min-width: 1800px) {
    .main-block-cards-list {
        columns: 3; 
    }
}

@media (max-width: 1280px) {
    .main-block-cards-list {
        columns: 2; 
    }
}

@media (max-width: 768px) {
    .main-block-cards-list {
        columns: 1;
    }
}

.main-block-menu{
	display: flex;
	justify-content: center;
	margin-bottom: var(--card-gutter);

	& > button:not(:last-child){
		margin-right: 0.5rem;
	}
}

button{
	height: 30px;
	border: none;
	background: none;
	cursor: pointer;
	outline: none;
	padding: 2px 12px 3px;
}

button.filed-button {
    background: var(--primary);
    color: var(--white);
    border-radius: var(--border-radius-main);
    width: fit-content;
    white-space: nowrap;

	&:hover{
		background-color: var(--dark-primary);
		transition: background-color 0.6s ease;
	}
}

button.grey-button{
	background: var(--grey);
	color: var(--brown);
	border-radius: var(--border-radius-main);
	opacity: 0.5;

	&:hover{
		opacity: 1;
		transition: opacity 0.5s ease;
	}
}

button.unfiled-button{
	border: 1px solid var(--primary);
	color: var(--primary);
	border-radius: var(--border-radius-main);

	&:hover{
		background-color: var(--light-primary);
		transition: background-color 0.6s ease;
	}
}

button.text-button{
	color: var(--primary);

	&:hover{
		color: var(--dark-primary);
		transition: color 0.6s ease;
	}
}

button.delete-button{
	border: 1px solid var(--delete-primary);
	color: var(--delete-primary);
	border-radius: var(--border-radius-main);
	opacity: 0.3;

	&:hover{
		opacity: 1;
		background-color: var(--delete-light-primary);
		transition: background-color 0.6s ease, opacity 0.3s ease;
	}
}

footer{
	transform: translateY(100%);
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	padding: 1rem 30px;
	background-color: var(--brown);
	color: var(--white);
	text-align: center;
}

.card-block{
	align-self: start;
	padding: 1rem;
	border-radius: var(--border-radius-main);
	margin-bottom: var(--card-gutter);
	break-inside: avoid;
	background-color: var(--white);
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	text-align: center;
}

.card-block-hidden {
    border-top: 1px solid var(--grey);
   	margin-top: 1rem;
}

.card-block-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-block-title-inner {
    display: flex;
    flex-wrap: wrap;
}

.card-block-title-additional {
    display: flex;
    align-items: center;

	& img{
		opacity: 0.9;
	}
}

.card-block-title-button{
	background: none;
	border: none;
	color: var(--dark-primary);
	cursor: pointer;

	&:hover{
		color: var(--primary);
	}
}

.card-block-title-delete-button, .card-block-title-edit-button{
	height: 16px;
	margin-left: 0.5rem;
	cursor: pointer;
	opacity: 0.4;

	&:hover{
		opacity: 1;
		transition: opacity 0.5s ease;
	}
}

.card-block-subtitle {
    padding: 0.2rem 1rem;
    border-radius: var(--border-radius-main);
    background: var(--light-primary);
    display: inline-block;
    margin-top: 0.5rem;
}

.card-block-subtitle.no-bg {
    background: none;
    padding: 0;
    margin-left: 1rem;
}


.card-block-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-block-list-item {
	cursor: default;
	margin-top: 0.5rem;

	&:not(:last-child){
		margin-right: 0.5rem;
	}
}

.card-block-list-item-inner{
	display: block;
	padding: 0.5rem 1rem;
	border-radius: var(--border-radius-main);
	background-color: var(--light-primary);
}

.card-block-tasks-title{
	border-top: 1px solid var(--light-primary);
    padding-top: 0.5rem;
    margin-top: 1rem;
	margin-bottom: 0.5rem;
}

.card-block .form-block{
	padding: 0;
	border: 0;
	width: 100%;
	box-shadow: none;
}

.form-block{
	padding: 1.5rem;
	border-radius: var(--border-radius-main);
	display: inline-block;
	background-color: var(--white);
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	margin-bottom: var(--card-gutter);
    text-align: center;
}

.form-input-block, .form-select-block{
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
}

input, select, textarea {
	padding: 0.5rem 1rem;
	border: 1px solid var(--primary);
	border-radius: var(--border-radius-main);
	display: block;
	min-width: 100px;
	outline: none;
	width: 100%;
	background-color: transparent;
}

textarea{
	width: 100%;

}

label{
	display: block;
	margin-right: 0.5rem;
}

.form-select-block-inner {
    display: flex;
    margin-bottom: 0.5rem;
	align-items: center;

	& img {
		height: 14px;
		width: 14px;
		cursor: pointer;
		opacity: 0.3;
		margin-left: 0.5rem;

		&:hover{
			opacity: 1;
			transition: opacity 0.5s ease;
		}
	}
}

.buttons-block {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
	align-items: center;

	& button:not(:last-child){
		margin-right: 0.5rem;
	}
}

.buttons-block-inner{
	& img{
		width: 16px;
		height: 16px;
		opacity: 0.5;
		cursor: pointer;

		&:not(:last-child){
			margin-right: 0.5rem;
		}

		&:hover{
			opacity: 1;
			transition: opacity 0.5s ease;
		}
	}
}

.main-block-form {
    display: flex;
    margin-bottom: 1.5rem;
	align-items: flex-start;

	& > div:not(:last-child){
		margin-right: 1.5rem;
	}
}

.inner-card-block {
    border: 1px solid var(--primary);
    padding: 0.5rem;
    border-radius: var(--border-radius-main);
    width: 100%;
	display: flex;
	justify-content: space-between;

	&:not(:last-child){
		margin-bottom: 0.5rem;
	}
}

.inner-card-block-title{
	display: flex;
	flex-direction: column;
	margin-right: 1rem;
	flex-grow: 1;
}

.inner-card-block-buttons, .book-block-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

	& img{
		width: 16px;
		height: 16px;
		opacity: 0.5;
		cursor: pointer;

		&:not(:last-child){
			margin-right: 0.5rem;
		}

		&:hover{
			opacity: 1;
			transition: opacity 0.5s ease;
		}
	}


}

.inner-card-block-description {
    padding: 1rem;
    background: var(--light-primary);
    border-radius: var(--border-radius-main);
    margin-top: 0.5rem;
}
